.nav {
  display: flex;
  padding: 10px;
  height: 65px;
  align-items: center;
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  color: white;
}

.nav-img {
  height: 26px;
}

.nav-title {
  margin-right: auto;
  margin-left: 5px;
  font-size: 21px;
  letter-spacing: -2.075px;
}

.nav-description {
  font-family: Inter;
  font-size: 12px;
}